*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    opacity: 0.8;
}
.nav-link:hover{
    padding: 4px;
    font-weight: bolder;
    text-decoration: underline;
}
.dropdown-basic:hover{
    font-weight: bolder;
}
.person-cart a i{
    font-size: 24px;
    color: black;
}
.cart{
    margin-left: 20px;
}
.hero-container img{
    width: 100%;
}
.hero-main__content{
    max-width: 500px;
    position: absolute;
    top: 30%;
    left: 200px;

}
.hero-main__content h2{
    color: white;
    white-space: pre-wrap;
    margin-bottom: 30px;
}
.hero-main__content p{
    color: white;
    font-style: italic;
    margin-bottom: 60px;
}
.hero-main__content button{
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
}
.hero-main__content button:hover{
    background-color: white;
    color: red;
    border: 1px solid white;
}
.category-section{
    margin-top: 20px;
    text-align: center;
}
.category-section h1{
    font-size: 70px;
    font-weight: bolder;
}
.category-card{
    display: flex;
    justify-content: center;
}
.card-vans{
    width: 200px;
    height: 200px;
    display: flex;
    align-items:flex-end;
    overflow: hidden;
    background: url("./assets/vans.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid black;
}
.card-converse{
    width: 200px;
    height: 200px;
    display: flex;
    align-items:flex-end;
    overflow: hidden;
    background: url("./assets/converse.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid black;
}
.card-content{
    width:100%;
    padding: 15px 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.582);
    color: white;
    transform: translateY(100%);
    transition: all 0.35s ease;
}
.card-converse:hover .card-content{
    transform: translateY(0);
}
.card-vans:hover .card-content{
    transform: translateY(0);
}
.upcoming-section h2{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 100px;
    text-align: center;
}
.footer-section{
    background-color: black;
}
.footer-container__header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer-container__header i{
    color: white;
    font-size: 22px;
}
.footer-container__header i:hover{
    color: #D9D9D9;
    cursor: pointer;
}
.footer-brand{
    color: #D9D9D9;
}
.footer-section span{
    border: 1px solid white;
    width: 100%;
    background-color: white;
    display: inline-block;
}
.footer-container__link{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 50px;
}
.nav-link__footer{
    text-decoration: none;
}
.nav-link__footer:hover{
    font-weight: bolder;
}
.footer-copyright{
    color: #D9D9D9;
    text-align: center;
    padding: 20px;
}
.aboutus-section{
    margin-top: 100px;
}
.aboutus-mainquote{
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
}
.aboutus-mainbanner img{
   width: 800px;
   max-height: 300px;
   border-radius: 5px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 70px;
}
.release-card img{
    width: 100px;
    height: 18rem;
}
  .item-card{
    transition:0.5s;
  }
  .item-card-title{  
    font-size:15px;
    transition:1s;
  }
  .item-card-title i{  
    font-size:15px;
    transition:1s;
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#e90808;
    
  }
  .card-container:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height:80px;  
  }
  
  .card-container::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card-container::before {
    transform-origin: left top;
  }
  .card-container::after {
    transform-origin: right bottom;
  }
  .card-container:hover::before, .card-container:hover::after, .card-container:focus::before, .card-container:focus::after {
    transform: scale3d(1, 1, 1);
  }
  .line{
    width: 30px;
    border: 1px solid red;
    background-color: red;
    margin: 0 auto;
    border-radius: 10px;
}
.card-button{
    display: grid;
    gap: 10px;
}
.card-button .add-to-cart{
  border: 1px solid #f02d34 ;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
   transform: scale(1, 1);
  transition: transform 0.5s ease;
  padding: 2px;
}
.card-button .add-to-cart:hover{
    transform:scale(1.1,1.1)
}
.card-button .more-detail{
  background-color: #f02d34;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  padding: 2px;
}
.card-button .more-detail:hover{
    transform:scale(1.1,1.1)
}
.product-detail-container{
    display: flex;
   gap: 40px;
   margin: 40px;
   margin-top: 60px;
   color: #324d67;
  
  }
  
  .product-detail-image{
    border-radius: 15px;
     background-color: #ebebeb;
  
    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: .3s ease-in-out;
  }
  .product-detail-image:hover{
    background-color: #f02d34;
  
  }
  .reviews{
    color: #f02d34;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .product-detail-desc h3{
    margin-top: 10px;
  }
  .product-detail-desc p{
    margin-top: 10px;
  }
  .reviews p{
    color: #324d67;
    margin-top: 0px;
  }
  .product-detail-desc .price{
    font-weight: 700 ;
    font-size: 26px;
    margin-top: 30px;
    color:#f02d34;
  }
  .product-detail-desc .quantity{
    display: flex;
    gap: 20px;
    margin-top: 10px ;
    align-items: center;
  }
  .product-detail-desc .buttons{
    display: flex;
    gap: 30px;
  }
  .buttons .add-to-cart{
    padding: 10px 20px;
    border: 1px solid #f02d34 ;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    color: #f02d34;
    cursor: pointer;
    width: 200px;
     transform: scale(1, 1);
    transition: transform 0.5s ease;
  }
  .buttons .add-to-cart:hover{
    transform:scale(1.1,1.1)
  }
  .buttons .buy-now{
    width: 200px;
  
    padding: 10px 20px;
    background-color: #f02d34;
    color: white;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
     transform: scale(1, 1);
    transition: transform 0.5s ease;
  }
  .buttons .buy-now:hover{
    transform:scale(1.1,1.1)
  }

  .cart-icon{
    font-size: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    transition: transform .4s ease;
    border: none;
    background-color: transparent;
    margin-left: 10px;
  }
  .cart-icon:hover{
    transform: scale(1.1,1.1);
    color: red;
  }
  .cart-item-qty{
    position: absolute;
    right: -8px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    background-color: #f02d34;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
  }
  .cart-wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 50px;
  }
  .cart-container{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 40px 10px;
    
  }
  .cart-heading{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    gap: 2px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
  }
  
  .cart-heading .heading{
    margin-left: 10px;
  }
  .cart-num-items{
    margin-left: 10px;
    color: #f02d34;
  }
  .empty-cart{
    margin:40px;
    text-align:center;
  }
  .empty-cart h3{
    font-weight: 600;
    font-size: 20px;
  }
  .cancel{
    cursor: pointer;
  }
  .product-container{
    margin-top: 15px;
    overflow: hidden;
  max-height: 100%;
  padding: 20px 10px;
  }
  .product{
    display: flex;
    justify-content: center;
   gap: 70px;
    padding: 20px;
  }
  .product .cart-product-image{
    width:180px ;
    height: 150px;
      border-radius: 15px;
   background-color: #ebebeb;
  }
  .item-desc .flex{
    display: flex;
    justify-content: space-between;
    width: 350px;
     color: #324d67;
  
  }
  .item-desc .bottom{
    margin-top: 60px;
  }
  .flex h5{
    font-size: 24px;
  }
  .flex h4{
    font-size: 20px;
  }
  .total{
    display: flex;
    justify-content: space-evenly;
  }
  .total h3{
    font-size: 22px;
  
  }
  .remove-item{
    font-size: 24px;
    color: #f02d34;
    cursor: pointer;
    background: transparent;
    border: none;
  }
  .cart-bottom{
  width: 100%;
  padding: 30px 65px;
  
  }
  
  .btn-container{
    width: 400px;
    margin: auto;
  }
  .btn{
    width: 100%;
    max-width: 400px;
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    margin-top: 40px;
    text-transform: uppercase;
    background-color: #f02d34;
    color: #fff;
    cursor: pointer;
      transform: scale(1, 1);
    transition: transform 0.5s ease;
  }
  .btn:hover{
    transform: scale(1.1,1.1);
  }